@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}


@model IEnumerable<Domain.DomainEntity.ProgItem>
<table id="main">
    <thead>
        <tr>
            <th>
                <b><a href="javascript:ordena(0)">Nome</a></b>
            </th>
            <th>
                <b><a href="javascript:ordena(1)">Descricao</a></b>
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_RecordLines")
    </tbody>

</table>



