@{
    ViewBag.Title = "All Programs";
}

<h2>@ViewBag.index</h2>

    @Html.ActionLink("List Programs", "IndexNormal", "Programs", null, new { @class = "btn" })
    @Html.ActionLink("List programs with pagination", "IndexWithPage", "Programs", null, new { @class = "btn" })
    @Html.ActionLink("List programs with scroll", "IndexWithScroll", "Programs", null, new { @class = "btn" })
