@model Domain.DomainEntity.ProgItem

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<fieldset>
    <legend>Program</legend>
        <div class="display-label">Nome</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>